.unburn-action-btn {
    background-color: var(--bg-secondary);
    color: var(--text-main);
    border: 1px solid var(--border-color);
    width: var(--dock-height);
    height: var(--dock-height);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s var(--transition-curve);
    scroll-snap-align: center;
    flex-shrink: 0;
    box-shadow: var(--bezel);
}

.unburn-action-btn:hover {
    border-color: var(--accent-color);
    background-color: color-mix(in srgb, var(--accent-color) 10%, transparent);
}

.unburn-action-btn:active {
    transform: scale(0.9);
}